h1 {
    color: black;
    text-align: center;
    text-transform: uppercase;
}

body{
    background-color:gainsboro;
}

#home {
    background-color: green;
    color: black;
    padding: 14px 28px;
    text-align: center;
    display: inline-flex;
}